html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  @extend %rubik-regular;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

a{
  text-decoration: none;
  color: $gray;
}

address {
  font-style: normal;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.5em;
  border: none;
  background-color: $blue;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: $blue-hover;
  }
}

a:focus,
button:focus {
  outline: 5px solid $blue;
  outline-style: double;
  outline-offset: 10px;
}