html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}